body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}


.welcome {
    max-width: 60%;
    margin: 0 auto;
}

.welcome .btn {
    width: 50%;
}

.navbar .nav-link:not(.active) {
    color: rgba(255, 255, 255, 0.5);
}